body,
html,
/* #root {
  height: 100%;
} */

body{

  margin: 0px;
  background-image: url("https://images.unsplash.com/photo-1510915361894-db8b60106cb1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html {
  font-size: 18px;
}


h1 {
  padding: 0.77rem  0;
  background-color: #010c3f;
  text-align: center;
  font-family: "Work Sans", sans-serif,Helvetica;
  font-size: 1.88rem;
  color: #fff;
 
}

h1 .highlight {
  color: #6c41ec;
  
}

h2 {
  font-family: "Work Sans", Helvetica,sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 5% 10% 5%;
  font-family: "Work Sans", Helvetica,sans-serif;
  font-weight: 500;
  color: #fff;
  /* background-color: rgb(1, 19, 7); */
}
/* padding: 0 17% 10% 17%; */
 
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
